<!--- header and banner section start-->
<section id="shop">
  <div class="container">
    <h2>Categories</h2>
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 box00 mb-3"
        style="display: flex; justify-content: center"
        data-aos="flip-up"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div
          class="showrunnerDiv showrunnerimg1"
          style="display: flex; justify-content: center; align-items: center"
        >
          <h2 class="showrunnerTxt">APPAREL</h2>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 box00"
        style="display: flex; justify-content: center"
        data-aos="flip-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <div
          class="showrunnerDiv showrunnerimg2"
          style="display: flex; justify-content: center; align-items: center"
        >
          <h2 class="showrunnerTxt">
            OFFERS <br />
            & PACKAGES
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- header and banner section start-->

<app-home-social></app-home-social>
