<!--- header and banner section start-->
<header>
  <div w3-include-html="header.html"></div>

  <div class="container h2-48">
    <h2>
      <a href="#"> Select Any Link &gt;</a>
    </h2>
    <div class="row-48">
      <div
        class="width-48"
        style="padding-bottom: 0px !important; margin-bottom: 10px"
        data-aos="fade-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <img src="./assets/image/Rectangle2860.png" alt="" />

        <a
          href="https://www.lazada.com.ph/shop/g-force-dance-center"
          target="_blank"
          ><button class="white-text">Lazada</button>
        </a>
      </div>
      <div
        class="width-48"
        style="padding-bottom: 0 !important ; margin-bottom: 10px"
        data-aos="fade-down"
        data-aos-once="false"
        data-aos-duration="2000"
      >
        <img src="./assets/image/Rectangle2861.png" alt="" />

        <a
          href="https://shopee.ph/gforcedancecenter?v=d9d&smtt=0.0.3"
          target="_blank"
          ><button class="white-text">Shopee</button>
        </a>
      </div>
    </div>
  </div>
</header>
<!--- header and banner section start-->

<app-home-social></app-home-social>
