<header>
  <div w3-include-html="header.html"></div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div
          class="col-12 group-63"
          data-aos="fade-down"
          data-aos-once="false"
          data-aos-duration="2000"
        >
          <img src="./assets/image/Group 16063.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid rect-49">
  <div class="container rect-49-text">
    <h2>Performing Artist</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>

    <!-- <a href="#"><button>Register Now&rarr;</button></a> -->
  </div>
</div>
<div style="margin-top: 5rem">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/one (2).png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/two.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/three.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/four.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/five.png" alt="" />
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
<div style="margin-top: 5rem">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/one (2).png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/two.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/three.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/four.png" alt="" />
      </div>
    </ng-template>
    <ng-template carouselSlide class="select-card">
      <div class="slider-img-1">
        <img src="./assets/image/five.png" alt="" />
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

<app-home-social></app-home-social>
